# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib

# Virtualenvs
.venv/
venv/
env/
ENV/

# Build & packaging
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# Editors/OS
.vscode/
.idea/
*.code-workspace
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/